<div class="romana_welcome_webhost_area romana_section_padding">
        <div class="container">
            <div class="row ">
                <div class="col-sm-6">
                    <div class="romana_welcome_img">
                        <img src="/images/welcome_img.png" alt="">
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-6">
                    <div class="romana_welcome_text">
                        <h2>About cHealth</h2>
                        <p class="romana_margin_bottom30">cHealth is a dynamic, modern electronic medical record system. Its store patient records efficiently and make those records available instantly and securely to authorized users.</p>
                        <p>The mission while creating cHealth is to help health practitioners administer the best patient care. Together, we can get to a world with the best healthcare outcomes.</p><br>
                        <p>
                            cHealth was created as a result of the emerging need to tackle unresolved electronic medical records systems that are using outdated software technologies. 
                        </p>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==========================================================
4.*romana_why_choose_area start
============================================================ -->
    
<!-- ==========================================================
9.*romana_awesome_service_area start
============================================================ -->
    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2>cHealth brings simplicity to Healthcare</h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="/contact-us">Get cHealth</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>

    <!-- footer_top End -->
        <div class="romana_footer_bottom">
            <div class="container">
                <div class="romana_footer_bottom_content text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><span>&copy;</span>Copyright 2017. All Right Reserved. cHealth / info@chealth.io</p>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
                <!-- container End -->
            </div>
        </div>