<div class="romana_client_area romana_section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="romana_section_title text-center">
                        <h2>Case Study</h2>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
            <div class="row ">
                <div class="col-xs-12">
                    <div class="romana_client_crsl">
                        <div class="romana_single_client_text_img text-center">
                            <div class="romana_single_client_text">
                                <p>cHealth is phenominal. It helps health care institutions move from a traditional approach of record keeping to an efficient approach that has lots of benefits.</p>
                                <div class="romana_client_title">
                                    <h3>Letifa Rehema</h3>
                                    <p>Britna Hospital</p>
                                </div>
                            </div>
                        </div>
                        <!-- romana_single_client_text End -->
                        <div class="romana_single_client_text_img text-center">
                            <div class="romana_single_client_text">
                                <p>I would definitely recommend cHealth for any health care professional looking for an electronic medical record solution. Its easy to implement and learn.</p>
                                <div class="romana_client_title">
                                    <h3>Jonathan Kerubo</h3>
                                    <p>Tree Hill Hospital</p>
                                </div>
                            </div>
                        </div>
                        <!-- romana_single_client_text End -->
                    </div>
                </div>
                <!-- column End -->
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>
    </div>
<!-- ==========================================================
9.*romana_awesome_service_area start
============================================================ -->
    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2>I bring simplicity to Healthcare</h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="/contact-us">Hire Me</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>

    <!-- footer_top End -->
        <div class="romana_footer_bottom">
            <div class="container">
                <div class="romana_footer_bottom_content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><span>&copy;</span>Copyright 2017. All Right Reserved. cHealth / info@chealth.io</p>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
                <!-- container End -->
            </div>
        </div>