<section class="romana_hero_area">
        <div class="hero_slider">
            <div class="hero_slider_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                            <div class="romana_hero_text text-center">
                                <h2>Simple, Modern and Elegant</h2>
                                <p class="slider_text_animation">cHealth is a modern electronic medical record (EMR) system<br> designed to health practitioners administer the best possible patient care.
                                   </p>
                                <div class="romana_slider_btn">
                                    <a href="/contact-us" class="romana_slider_btn1 hvr-shutter-out-horizontal">Get cHealth</a>
                                    <a href="/about-us" class="romana_slider_btn2 hvr-shutter-out-horizontal">About cHealth</a>
                                </div>
                            </div>
                        </div>
                        <!-- column end -->
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- item one end -->
            <div class="hero_slider_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                            <div class="romana_hero_text text-center">
                                <h2>A modern user experience</h2>
                                <p class="slider_text_animation">cHealth has been designed to be intuitive and does not require training before use.
                                   </p>
                                <div class="romana_slider_btn">
                                    <a href="/contact-us" class="romana_slider_btn1 hvr-shutter-out-horizontal">Get cHealth</a>
                                    <a href="/about-us" class="romana_slider_btn2 hvr-shutter-out-horizontal">About cHealth</a>
                                </div>
                            </div>
                        </div>
                        <!-- column end -->
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- item two end -->
            <div class="hero_slider_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                            <div class="romana_hero_text text-center">
                                <h2>Effective Data Analysis</h2>
                                <p class="slider_text_animation">cHealth takes every piece of data stored and creates meaningful insights enough for health care professionals to make the best patient care decisions.
                                   </p>
                                <div class="romana_slider_btn">
                                    <a href="/contact-us" class="romana_slider_btn1 hvr-shutter-out-horizontal">Get cHealth</a>
                                    <a href="/about-us" class="romana_slider_btn2 hvr-shutter-out-horizontal">About cHealth</a>
                                </div>
                            </div>
                        </div>
                        <!-- column end -->
                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
            </div>
            <!-- item three end -->
        </div>
    </section>
    <!-- HeroSlider area end -->
<!-- ==========================================================
4.*romana_why_choose_area start
============================================================ -->
    
<!-- ==========================================================
9.*romana_awesome_service_area start
============================================================ -->
    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2>cHealth brings simplicity to Healthcare</h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="/contact-us">Get cHealth</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>

    <!-- footer_top End -->
        <div class="romana_footer_bottom">
            <div class="container">
                <div class="romana_footer_bottom_content">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><span>&copy;</span>Copyright 2017. All Right Reserved. cHealth / info@chealth.io</p>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
                <!-- container End -->
            </div>
        </div>
        <!-- footer_bottom End -->