<div class="romana_why_choose_area romana_section_padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="romana_section_title text-center">
                        <h2>Why use cHealth?</h2>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-4">
                    <div class="romana_single_choose text-center">
                        <a class="hvr-wobble-skew"><img src="/images/choose_icon4.png" alt="icon"></a>
                        <h3>Data Analysis</h3>
                        <p>cHealth draws meaningful data insights enough for health care professionals to make the best patient care decisions.</p>
                    </div>
                    <div class="romana_single_choose text-center">
                        <a class="hvr-wobble-skew"><img src="/images/choose_icon1.png" alt="icon"></a>
                        <h3>Friendly User experience</h3>
                        <p>cHealth has been designed to be intuitive. It has a simple modern user interface and you do not require training to use it.</p>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-4">
                    <div class="romana_single_choose text-center">
                        <a class="hvr-wobble-skew"><img src="/images/choose_icon5.png" alt="icon"></a>
                        <h3>Effective Communication</h3>
                        <p>cHealth has the the ability to notify, inform patients and doctors on important health information via the web and mobile.</p>
                    </div>
                    <div class="romana_single_choose text-center">
                        <a class="hvr-wobble-skew"><img src="/images/choose_icon2.png" alt="icon"></a>
                        <h3>Task Automation</h3>
                        <p>cHealth simplifies repetitive tasks in health institutions and thus helps health pratictioners focus on the patient care needs.</p>
                    </div>
                </div>
                <!-- column End -->
                <div class="col-sm-4">
                    <div class="romana_single_choose text-center">
                        <a class="hvr-wobble-skew"><img src="/images/choose_icon3.png" alt="icon"></a>
                        <h3>Data Security</h3>
                        <p>cHealth is made of an industry defacto - Laravel, a framework that has been tested and secured by the worldwide software professionals.</p>
                    </div>
                    <div class="romana_single_choose text-center">
                        <a class="hvr-wobble-skew"><img src="/images/choose_icon6.png" alt="icon"></a>
                        <h3>Easy to manage</h3>
                        <p>cHealth is easily customizable and thus it provides easy comprehensive administration tools for all the modules.</p>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
<!-- ==========================================================
4.*romana_why_choose_area start
============================================================ -->
    
<!-- ==========================================================
9.*romana_awesome_service_area start
============================================================ -->
    <div class="romana_awesome_service_area romana_section_padding">
        <div class="container">
            <div class="romana_awesome_service_content">
                <div class="row ">
                    <div class="col-sm-8 col-xs-12">
                        <div class="romana_awesome_service_text text-center">
                            <h2>cHealth brings simplicity to Healthcare</h2>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-2 col-sm-offset-1 col-xs-8 col-xs-offset-2">
                        <div class="romana_awesome_service_btn ">
                            <a href="/contact-us">Get cHealth</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
        </div>
        <!-- container End -->
    </div>

    <!-- footer_top End -->
        <div class="romana_footer_bottom">
            <div class="container">
                <div class="romana_footer_bottom_content text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><span>&copy;</span>Copyright 2017. All Right Reserved. cHealth / info@chealth.io</p>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
                <!-- container End -->
            </div>
        </div>